<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <div th:replace="header"/>
    <link rel="stylesheet" href="/common/css/main.css">
</head>
<body>
<div id="app" style="height: 100%">

    <el-row style="height: 100%">

        <el-col span="4" class="left-bar">
            <el-menu
                    @select="changeBar"
                    default-active="1"
                    background-color="#545c64"
                    active-text-color="#ffd04b"
                    text-color="#fff"
                    mode="vertical"
            >
                <el-menu-item index="1">配置</el-menu-item>
                <el-menu-item index="2">管理</el-menu-item>
            </el-menu>
        </el-col>

        <el-col :span="20">
            <div :class="showConfig">
                <div style="margin: 50px">
                    <el-row gutter="10">
                        <el-col span="8">
                            <el-divider content-position="left">用户信息</el-divider>
                            <el-row gutter="10">
                                <el-col span="8">
                                    <el-tooltip content="使用cookie可以获得更高级别的画质~" placement="top">
                                        <el-select size="small" v-model="userInfoType">
                                            <el-option :value='0' label="用户UID"></el-option>
                                            <el-option :value='1' label="用户Cookie"></el-option>
                                        </el-select>
                                    </el-tooltip>
                                </el-col>
                                <el-col span="16">
                                    <el-input v-if="userInfoType==1" size="small" v-model="userIdentical" placeholder="cookie只需要SESSDATA字段"></el-input>
                                    <el-input v-if="userInfoType==0" size="small" v-model="userIdentical" placeholder="请填入用户UID"></el-input>
                                </el-col>
                            </el-row>
                            <el-row>
                                <div style="margin-top: 10px;margin-bottom: 10px">
                                    <el-button size="small" @click="getCollectionList" type="primary">获取收藏夹列表</el-button>
                                </div>
                            </el-row>
                            <el-row>
                                <span>收藏夹列表：</span>
                                <el-select v-model="collectionSelect.ids" multiple placeholder="请选择要备份的收藏夹">
                                    <el-option
                                            v-for="item in collectionSelect.value"
                                            :key="item.key"
                                            :label="item.label"
                                            :value="item.key">
                                    </el-option>
                                </el-select>
                            </el-row>
                            <el-divider content-position="left">监控周期</el-divider>
                            <el-row gutter="10">
                                <el-col span="12">
                                    <el-radio v-model="radio" :label="1">选择监控周期</el-radio>
                                    <el-radio v-model="radio" :label="2">自定义cron表达式</el-radio>
                                </el-col>
                                <el-col span="12"  v-if="radio == 1">
                                    <el-select v-model="cron" style="float: right" size="small">
                                        <el-option label="测试用，每30秒" value="0/30 * * * * ? "></el-option>
                                        <el-option label="每十五分钟" value="0 0/15 * * * ? "></el-option>
                                        <el-option label="每半小时" value="0 0/30 * * * ? "></el-option>
                                        <el-option label="每小时" value="0 0 0/1 * * ? "></el-option>
                                        <el-option label="每天" value="0 0 0 1/1 * ? "></el-option>
                                    </el-select>
                                </el-col>
                                <el-col span="12"  v-if="radio == 2">
                                    <el-input v-model="cron" size="small" style="width: 80%;float: right" placeholder="Cron表达式"></el-input>
                                </el-col>
                            </el-row>
                            <el-row style="padding-top: 50px">
                                <el-button style="float: right" type="primary" @click="saveConfig">保存</el-button>
                            </el-row>
                        </el-col>
                        <el-col span="16">
                            <el-divider content-position="left">任务列表</el-divider>
                            <div style="padding: 20px">
                                <el-table :data="taskList.data">

                                    <el-table-column label="用户昵称" prop="info.name" width="100">
<!--                                        <template slot-scope="scope">-->
<!--                                            <el-avatar :src="scope.row.info.face"></el-avatar>-->
<!--                                        </template>-->
                                    </el-table-column>
                                    <el-table-column label="执行周期" prop="cron"width="150"></el-table-column>
                                    <el-table-column label="状态" prop="status" width="100"></el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button circle @click="operation(scope.row.id,scope.row.statusCode)"><li style="width: 15px;height: 15px" :class="scope.row.statusCode==1?'fa fa-pause':'fa fa-play'"></li></el-button>
                                            <el-button circle icon="el-icon-delete" @click="deleteTask(scope.row.id)"></el-button>
                                            <el-button circle icon="el-icon-edit-outline" @click="openDetail(scope.row.id)"></el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <el-pagination
                                        background
                                        :pager-count="5"
                                        @current-change="changeTaskList"
                                        layout="prev, pager, next"
                                        :page-size="taskList.size"
                                        :total="taskList.total">
                                </el-pagination>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
            <el-dialog :visible="showDetail" close-on-click-modal show-close="false">
                开发中，未开放
            </el-dialog>
            <div :class="showMgr">
                <el-input v-model="keyword" class="search-box" placeholder="关键字"></el-input>
                <el-table :data="mediaList.data"
                          row-key="id"
                          border
                >
                    <el-table-column type="expand">
                        <template slot-scope="props">
                            <el-table :data="props.row.parts">
                                <el-table-column label="cid" prop="cid" width="100"></el-table-column>
                                <el-table-column label="分p标题" prop="title" width="500"></el-table-column>
                                <el-table-column label="大小" prop="size" width="100">
                                    <template slot-scope="props">
                                        {{props.row.size/(1024*1024) | sizeFilter}}MB
                                    </template>
                                </el-table-column>
                                <el-table-column label="下载进度" prop="cacheSize" width="300">
                                    <template slot-scope="props">
                                        <el-progress :percentage="parseInt((props.row.cacheSize/props.row.size)*100)"></el-progress>
                                    </template>
                                </el-table-column>
                                <el-table-column label="操作">
                                    <template slot-scope="props">
                                        <el-button type="text" @click="reload(props.row.cid)">重新下载</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </template>
                    </el-table-column>
                    <el-table-column prop="id" label="av号" width="200px">
                        <template slot-scope="props">
                            <el-link href="https://www.bilibili.com/video/av{{props.row.id}}">av{{props.row.id}}</el-link>
                        </template>
                    </el-table-column>
                    <el-table-column prop="title" label="标题"></el-table-column>
                </el-table>
                <el-pagination
                        background
                        :pager-count="12"
                        @current-change="changeMediaList"
                        layout="prev, pager, next"
                        :page-size="mediaList.size"
                        :total="mediaList.total">
                </el-pagination>
            </div>
        </el-col>
    </el-row>

</div>

</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            keyword:"",
            showDetail:false,
            radio:1,
            cookie:'',
            showConfig:'',
            showMgr:'hide',
            userInfoType:0,
            userIdentical:'',
            cron:'',
            taskList:{
                data: [],
                total:0,
                index: 1,
                size: 10
            },
            collectionSelect:{
                value:[],
                ids:[]
            },
            mediaList:{
                data:[],
                total:0,
                size:12,
                index:1,
            }

        },
        watch:{
            radio: function (newVal) {
                this.cron = '';
            }
        },
        created(){
            this.loadTaskList();
            this.getMediaList();
        },
        mounted(){
            setInterval(this.getMediaList, 2000);
        },
        filters:{
            sizeFilter(value){
                value = Number(value);
                return value.toFixed(2);
            },
        }
        ,methods:{
            reload(cid){
                axios.post("/api/cache/reLoad","cid="+cid).then(res =>{
                    if(res.data.code==500){
                        this.$message({
                            type:"warn",
                            message:res.data.message
                        })
                    }
                });
            },
            changeTaskList(page){
                this.taskList.index = page;
                this.loadTaskList();
            },
            changeMediaList(page){
                this.mediaList.index = page;
                this.getMediaList();
            },
            getMediaList(){
                let params = {
                        keyword:this.keyword,
                        size:this.mediaList.size,
                        page:this.mediaList.index
                    }
                axios.get("/api/cache/mediaList",{
                    params:params
                }).then(res =>{
                    if(res.data.code==500){
                        this.$message({
                            type:"warn",
                            message:res.data.message
                        })
                    }
                    this.mediaList.data = res.data.data.records;
                    this.mediaList.size = res.data.data.size;
                    this.mediaList.total = res.data.data.total
                    this.mediaList.index = res.data.data.current
                });
            },
            openDetail(taskId){
                //获取任务详情
                this.showDetail = true;
            },
            deleteTask(id){
                axios.post("/api/task/delete","taskId="+id).then(res=>{
                    if(res.data.code == 500){
                        this.$message({
                            type:"warn",
                            message:res.data.message
                        })
                    }
                    this.loadTaskList();
                })
            },
            operation(id,status){
                let url ;
                switch (status) {
                    case 1:url="/api/task/pause"
                        break
                    default:url = "/api/task/start";
                }
                axios.post(url,"taskId="+id).then(res=>{
                    if(res.data.code == 500){
                        this.$message({
                            type:"warn",
                            message:res.data.message
                        })
                    }
                    this.loadTaskList();
                })
            },
            loadTaskList(){
                axios.get("/api/getTaskList",{
                    params:{
                        index:this.taskList.index,
                        size:this.taskList.size
                    }
                }).then(
                    res=>{
                        if(res.data.code == 200){
                            this.taskList.data = res.data.data.data
                            this.taskList.total = res.data.data.total
                            this.taskList.index = res.data.data.now
                            this.taskList.size = res.data.data.size
                        }else{
                            this.$message({
                                type:'error',
                                message:'服务器错误！'
                            })
                        }
                    }
                );
            },
            getCollectionList(){
                //获取收藏列表
                axios.post("/api/getCollection",{
                    type:this.userInfoType,
                    value:this.userIdentical
                }).then(res=>{
                    if(res.data.code == 200){
                        let collects = new Array()
                        for(let i in res.data.data){
                            let collect = res.data.data[i]
                            collects.push({
                                label:collect["title"] + ' ('+ collect["mediaCount"] + ')',
                                key:collect["id"]
                            })
                        }
                        this.collectionSelect.value = collects;

                    }else{
                        this.$message({
                            type: "warning",
                            message:res.data.message
                        });
                    }

                }).catch(res=>{
                    this.$message({
                        type: "warning",
                        message:'服务器异常'
                    });
                })

            },
            saveConfig(){
                let form = {
                    ids:this.collectionSelect.ids,
                    cron:this.cron,
                    userInfoType:this.userInfoType,
                    userIdentical:this.userIdentical
                };
                axios.post("/api/saveTask",form).then(res =>{
                    if(res.data.code ==200){
                        this.loadTaskList();
                    }else{
                        this.$message({
                            type:"warning",
                            message: res.data.message
                        })
                    }
                }).catch(res=>{
                    this.$message({
                        type: "warning",
                        message:'服务器异常'
                    });
                })

            },
            changeBar(index){
                if(index ==1){
                    this.showConfig = '';
                    this.showMgr = 'hide';
                }
                if(index ==2){
                    this.showConfig = 'hide';
                    this.showMgr = '';
                }
            }
        }
    });
</script>
<style>
    html{
        height: 100%;

    }
    .el-table__expanded-cell[class*=cell]{
       padding: 0px;
    }
    body{
        height: 100%;
    }
    .left-bar {
        height: 100%;
        background: #545c64;
    }
    .hide{
        display: none;
    }
    body{
        margin: 0px;
    }
</style>
</html>