<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <meta charset="UTF-8">
    <div th:replace="header"/>
</head>
<body>
<div id="app" style="height: 100%">

        <el-row style="height: 100%">

            <el-col span="4" class="left-bar">
                <el-menu
                        @select="changeBar"
                        default-active="1"
                        background-color="#545c64"
                        active-text-color="#ffd04b"
                        text-color="#fff"
                        mode="vertical"
                >
                    <el-menu-item index="1">配置</el-menu-item>
                    <el-menu-item index="2">管理</el-menu-item>
                </el-menu>
            </el-col>

            <el-col :span="20">
                <div :class="showConfig">
                    <div style="margin: 50px">
                        <el-row gutter="10">
                            <el-col span="12">
                                <el-divider content-position="left">用户信息</el-divider>
                                <el-row gutter="10">
                                    <el-col span="6">
                                        <el-tooltip content="使用cookie可以获得更高级别的画质~" placement="top">
                                            <el-select size="small" v-model="userInfoType">
                                                <el-option :value='0' label="用户UID"></el-option>
                                                <el-option :value='1' label="用户Cookie"></el-option>
                                            </el-select>
                                        </el-tooltip>
                                    </el-col>
                                    <el-col span="10">
                                        <el-input v-if="userInfoType==1" size="small" v-model="userIdentical" placeholder="cookie只需要SESSDATA字段"></el-input>
                                        <el-input v-if="userInfoType==0" size="small" v-model="userIdentical" placeholder="请填入用户UID"></el-input>
                                    </el-col>
                                    <el-col span="8">
                                        <el-button style="float: right" size="small" @click="getCollectionList" type="primary">获取收藏夹列表</el-button>
                                    </el-col>
                                </el-row>
                                <el-row>
                                    <p></p>
                                </el-row>
                                <el-row>
                                    <el-col span="24">
                                        <el-transfer
                                                :titles="['收藏夹列表', '要备份的收藏夹']"
                                                filterable
                                                v-model="collectionSelect.ids"
                                                :data="collectionSelect.value">
                                        </el-transfer>
                                    </el-col>
                                </el-row>
                                <el-divider content-position="left">监控周期</el-divider>
                                <el-row gutter="10">
                                    <el-col span="6">
                                        <el-radio v-model="radio" :label="1">选择监控周期</el-radio>
                                    </el-col>
                                    <el-col span="6">
                                        <el-radio v-model="radio" :label="2">自定义cron表达式</el-radio>
                                    </el-col>
                                    <el-col span="12"  v-if="radio == 1">
                                        <el-select v-model="cron" style="float: right" size="small">
                                            <el-option label="每天" value="0 0/15 * * * ? "></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col span="12"  v-if="radio == 2">
                                        <el-input v-model="cron" size="small" style="width: 80%;float: right" placeholder="Cron表达式"></el-input>
                                    </el-col>
                                </el-row>
                                <el-row style="padding-top: 50px">
                                    <el-button style="float: right" type="primary" @click="saveConfig">保存</el-button>
                                </el-row>
                            </el-col>
                            <el-col span="12">
                                <el-divider content-position="left">任务列表</el-divider>
                                <div style="padding: 20px">
                                    <el-table :data="taskList.data">
                                        <el-table-column label="用户UID" prop="uid"></el-table-column>
                                        <el-table-column label="执行周期" prop="cron"></el-table-column>
                                        <el-table-column label="状态" prop="status"></el-table-column>
                                        <el-table-column label="操作">
                                            <template slot-scope="scope">
                                                <el-button type="text">详情</el-button>
                                                <el-button type="text">编辑</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                </div>
                            </el-col>
                        </el-row>
                    </div>
                </div>

                <div :class="showMgr">

                </div>
            </el-col>
        </el-row>


</div>

</body>
<script>
    var app = new Vue({
        el:'#app',
        data:{
            radio:1,
            cookie:'',
            showConfig:'',
            showMgr:'hide',
            userInfoType:0,
            userIdentical:'',
            cron:'',
            taskList:{
                data: [],
                total:0,
                index:0,
                size: 10
            },
            collectionSelect:{
                value:[],
                ids:[]
            },

        },
        watch:{
            radio: function (newVal) {
                this.cron = '';
            }
        },
        created(){
            this.loadTaskList();
        }
        ,methods:{
            loadTaskList(){
                axios.get("/api/getTaskList",{
                    params:{
                        index:this.taskList.index,
                        size:this.taskList.size
                    }
                }).then(
                    res=>{
                        if(res.data.code == 200){
                            this.taskList.data = res.data.data.data
                            this.taskList.total = res.data.data.total
                        }else{
                            this.$message({
                                type:'error',
                                message:'服务器错误！'
                            })
                        }
                    }
                );
            },
            getCollectionList(){
                //获取收藏列表
                axios.post("/api/getCollection",{
                    type:this.userInfoType,
                    value:this.userIdentical
                }).then(res=>{
                    if(res.data.code == 200){
                        let collects = new Array()
                        for(let i in res.data.data){
                            let collect = res.data.data[i]
                            collects.push({
                                label:collect["title"] + ' ('+ collect["mediaCount"] + ')',
                                key:collect["id"]
                            })
                        }
                        this.collectionSelect.value = collects;

                    }else{
                        this.$message({
                            type: "warning",
                            message:res.data.message
                        });
                    }

                }).catch(res=>{
                    this.$message({
                        type: "warning",
                        message:'服务器异常'
                    });
                })

            },
            saveConfig(){
                let form = {
                    ids:this.collectionSelect.ids,
                    cron:this.cron,
                    userInfoType:this.userInfoType,
                    userIdentical:this.userIdentical
                };
                axios.post("/api/saveTask",form).then(res =>{
                    if(res.data.code ==200){

                    }else{
                        this.$message({
                            type:"warning",
                            message: res.data.message
                        })
                    }
                }).catch(res=>{
                    this.$message({
                        type: "warning",
                        message:'服务器异常'
                    });
                })

            },
            changeBar(index){
                if(index ==1){
                    this.showConfig = '';
                    this.showMgr = 'hide';
                }
                if(index ==2){
                    this.showConfig = 'hide';
                    this.showMgr = '';
                }
            }
        }
    });
</script>
<style>
    html{
        height: 100%;

    }

    body{
        height: 100%;
    }
    .left-bar {
        height: 100%;
        background: #545c64;
    }
    .hide{
        display: none;
    }
    body{
        margin: 0px;
    }
</style>
</html>